<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.havearest"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT"/>

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.havearest.MainActivity"
            android:label="@string/app_name" >
            
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>
            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger" />
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <receiver android:name="com.example.havearest.StartupBroadcastReceiver">  
		    <intent-filter>  
		        <action android:name="android.intent.action.BOOT_COMPLETED" />  
		    </intent-filter>  
		</receiver>
        <service android:name="com.example.havearest.DataCollectorService"
            android:enabled="true"></service>
		
    </application>

</manifest>
